.register
{
    background-image: linear-gradient(to right top, #5ab3d3, #00a5f0, #0090ff, #676cff, #bc12eb);
    height: 100vh;
    width: 100vw;
    display: flex;

    &_window
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    &__info
    {
        display: flex;
        flex-direction: column;
        background-color:#242156;
        padding: 30px 20px;

        &__span
        {
            font-size: 18px;
            color: white;
            font-weight: 700;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica
        }
    }

    &__content
    {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: #292967;

        input
        {
            height: 30px;
            border-radius: 5px;
            border: 0px;
            margin-bottom: 25px;
            padding: 10px;
        }

        input:focus
        {
            outline: none;
        }
    }

    &_button
    {
        margin-left: auto;
        padding: 15px;
        border: 0px;
        background-color: rgb(20, 160, 20);
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 700;
    }

    &__errors
    {
        color:  white;
        margin-bottom: 20px;
    }
}

.logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

    &__image
    {
        width: 128px;
        height: 128px;
    }

    &__text
    {
        font-size: 90px;
        font-weight: 700;
        margin-left: 20px;
        pointer-events: none;
    }
}